{% extends "base.html" %}
{% block content %}
{% load static %}
<section class="hero is-medium is-primary is-bold">
    <div class="contain">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item">
              <img src="{% static "img/web_logo_3.png" %}" alt="Logo">
            </a>
            <span class="navbar-burger" data-target="navbarMenuHeroA">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item">
                Resume
              </a>
              <a class="navbar-item">
                About
              </a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title">
          Hello, I'm Jack
        </p>
        <p class="subtitle">
          I like building web stuff. 
        </p>
      </div>
    </div>
    </div>
</section>
<!-- Call to action section -->
<section class="section is-medium has-background-link-light">
    <div class="container is-max-desktop">
        <div class="columns">
            <div class="column is-one-quarter">
                <figure class="image is-128x128">
                    <img class="is-rounded" src="{% static "img/sample_circle.png" %}">
                </figure>
            </div>
            <div class="column">
                <h2 class="subtitle">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto reiciendis molestiae culpa ipsum in! Nulla suscipit minus hic blanditiis nisi! Quos, consequatur voluptas quo, dicta eaque natus maxime suscipit eius dolore officia tempore dignissimos amet laboriosam totam earum perspiciatis culpa ullam. Dolor cum ratione quo iste laudantium minima, rerum officiis?
                </h2>
            </div>
        </div>
    </div>
</section>
<!-- Tiles -->
<section class="mt-4">
    <div class="container is-max-desktop">
        <div class="columns">
            <div class="column is-half has-text-centered">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Final Project</p>
                            <p class="subtitle is-6">Python Programming Certificate</p>
                        </div>
                    </div>               
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                        <a href="#">#css</a> <a href="#">#responsive</a>
                    </div>
                    <footer class="card-footer">
                        <a href="http://fizzzypop.pythonanywhere.com" target=”_blank” class="card-footer-item">Visit</a>
                        <a href="#" class="card-footer-item">Github</a>
                        <a href="#" class="card-footer-item">README</a>
                    </footer>
                    </div>
                </div>
            </div>
            <div class="column is-half has-text-centered">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                        <p class="title is-4">Blog</p>
                        <p class="subtitle is-6">Wordpress Blog</p>
                        </div>
                    </div>               
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                        <a href="#">#css</a> <a href="#">#responsive</a>
                    </div>
                    <footer class="card-footer">
                        <a href="#" class="card-footer-item">Visit</a>
                        <a href="#" class="card-footer-item">Github</a>
                        <a href="#" class="card-footer-item">README</a>
                    </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt-4">
    <div class="container is-max-desktop">
        <div class="columns">
            <div class="column is-half has-text-centered">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                        <p class="title is-4">Portfolio V.1</p>
                        <p class="subtitle is-6">website built on Django & Styled with Bulma</p>
                        </div>
                    </div>               
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                        <a href="#">#css</a> <a href="#">#responsive</a>
                    </div>
                    <footer class="card-footer">
                        <a href="#" class="card-footer-item">Visit</a>
                        <a href="#" class="card-footer-item">Github</a>
                        <a href="#" class="card-footer-item">README</a>
                    </footer>
                    </div>
                </div>
            </div>
            <div class="column is-half has-text-centered">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                        <p class="title is-4">Other Skills</p>
                        <p class="subtitle is-6">Various Python Skills</p>
                        </div>
                    </div>               
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                        <a href="#">#css</a> <a href="#">#responsive</a>
                        <br>
                    </div>
                    <footer class="card-footer">
                        <a href="#" class="card-footer-item">Visit</a>
                        <a href="#" class="card-footer-item">Github</a>
                        <a href="#" class="card-footer-item">README</a>
                    </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{%endblock%}